<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.javaApplet">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java程序设计基础/src/小程序设计/J161邮箱.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<intAttribute key="org.eclipse.jdt.launching.APPLET_HEIGHT" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.APPLET_NAME" value=""/>
<intAttribute key="org.eclipse.jdt.launching.APPLET_WIDTH" value="200"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="小程序设计.J161邮箱"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java程序设计基础"/>
</launchConfiguration>
