<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JavaSwing示例_EMS3(图片可浏览）/src/com/gem/ui/MainFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.gem.ui.MainFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JavaSwing示例_EMS3(图片可浏览）"/>
</launchConfiguration>
