body{
    margin: 0;
    background-color: #78e08f;
    /* position: relative; */
  }
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 232px;
  }
  .ball{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid #000;
    background-color: #ffffff;
    position: relative;
  }
  .face{
    width: 70px;
    height: 30px;
    position: absolute;
    right: 0; 
    top: 30px;
  }
  .face::before{
    content: '';
    width: 18px;
    height: 8px;
    background-color: #badc58;
    position: absolute;
    right: -8px;
    top: 20px;
    border-radius: 50%;
  }
  .face::after{
    content: '';
    width: 18px;
    height: 8px;
    background-color: #badc58;
    position: absolute;
    left: -5px;
    top: 20px;
    border-radius: 50%;
  }
  .eye{
    width: 15px;
    height: 14px;
    border-radius: 50%;
    border-bottom: 5px solid #000;
    position: absolute;
  }
  .eye-l{
    left: 10px;
  }
  .eye-r{
    right: 5px;
  }
  .mouth{
    width: 30px;
    height: 14px;
    border-radius: 50%;
    border-bottom: 5px solid #000;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(3px);
  }