/* @media only screen and (min-width: 414px) */
html{
  font-size: 110.4px;
}
*{
  -webkit-tap-highlight-color: rgba(255,0,0,0);
}
html{

  display: block;
}
html body{
  margin: 0;
}
body{
  background: #f6f6f6;
}
body{
  color: #191919;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial, sans-serif;
  position: relative;
}
body{
  display: block;
}

.TalionNav{
  width: 100%;
  position: relative;
  z-index: 9999;
  background: #fff;
}
header{
  display: block;
}
div{
  margin: 0;
  padding: 0;
}
.TalionNav-primary{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.TalionNav-primary{
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);

}
.TalionNav .logo{
  display: inline-block;
  font-size: 0;
  height: 26px;
  width: 54px;
  flex: 54px 0 0;
  background: url(./image/2.png) 50% no-repeat;
  background-size: contain;
}
.TalionNav .logo{
  margin-right: 15px;
}
.TalionNav a{
  text-decoration: none;
}
a{
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  color: #42bd56;
  cursor: pointer;
}
.TalionNav .logo h1{
  opacity: 0;
}
h1{
  margin: 30px 0 5px;
  line-height: 32px;
  word-break: break-all;
}
h1{
  font-weight: normal;
}
h1{
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.TalionNav-primary .search-box{
  width: 100px;
  flex: 100px 0 0;
  height: 30px;
  border-radius: 15px;
  border: 1px solid #dfdfdf;
  color: rgba(0,0,0,0.25);
  background-color: #f7f7f7;
  font-size: 15px;
  line-height: 21px;
  padding-left: 8px;
}
.TalionNav-primary .search-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
form{
  margin-top: 0em;
}
.TalionNav-primary .search-box input{
  box-sizing: border-box;
  -webkit-appearance: none;
  border: 0;
  padding-left: 20px;
  background: url(./image/1.png) no-repeat 0;
  background-size: 17.33333px;
  border-radius: 3px;
  width: 100%;
  height: 31px;
  font-size: 14px;

}

input{
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  /* -webkit-writing-mode: horizontal-tb !important; */
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none   ;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;


}
.TalionNav-primary .nav-btns{
  flex: 1;
  font-size: 15px;
  line-height: 21px;
  color: #3ba94d;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.TalionNav-static{
  left: 0;
  width: 100%;
  background-color: #f7f7f7;
  align-items: center;
  margin-top: 50px;
  padding: 0 18px;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.TalionNav .icon-wrap{
  margin-right: 10px;

}
.TalionNav-static>a{
  font-size: 0;

}
.TalionNav a{
  text-decoration: none;
}
.TalionNav-static>*{
  white-space: nowrap;

}
a{
  margin: 0;
  padding: 0;
}
a{
  outline: 0;
}
a{
  color: #42bd56;
}
a{
  -webkit-tap-highlight-color: transparent;
}
a:-webkit-any-link{
  cursor: pointer;
}
.TalionNav .icon-wrap .icon{
  width: 39px;
  height: 39px;
}
*{
  -webkit-tap-highlight-color: rgba(255,0,0,0);
}
.TalionNav .info{
  flex: 1;
}
.TalionNav-static>a{
  font-size: 0;
}
.TalionNav a{
  text-decoration: none;
}
a{
  margin: 0;
  padding: 0;
}
.TalionNav-static>*{
  white-space: nowrap;
}
.TalionNav .info h2{
  font-size: 15px;
  line-height: 21px;
  color: #191919;
  margin: 0;
}
h2{
  font-weight: normal;
}
h2{
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
span{
  margin: 0;
  padding: 0;
}
.TalionNav .info p{
  font-size: 11px;
  line-height: 16px;
  color: #818181;
  margin: 0;
  padding: 0;
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
.TalionNav .btn .green {
  background-color: #42bd56;
  color: #fff;
}
.TalionNav .btn{
  width: 80px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 13px;
  line-height: 30px;
  text-decoration: none;

}
/* .TalionNav-static:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #dfdfdf;
  border-left: none  ;
  border-right: none  ;
  box-sizing: border-box;
  width: 200%;
  height: 200%;
  transform: scale(0.5) translateX(-0.5px) translateY(-0.5px);
  transform-origin: left-top;
  pointer-events: none;
} */

body .page{
  max-width: 650px;
}
.page{
  padding-top: 0px;
  background: #fff;
  margin: 0 auto;
  overflow-x: hidden;
}
.promo_top_banner{
  margin-bottom: 0;
  max-width: 100%;
  overflow: hidden;
  text-align: left;
  position: relative;

}
.promo_top_banner .banner_bg{
  font-size: 0;
  padding-bottom: 21.33333%;
  position: relative;
}
.promo_top_banner .banner_bg .img{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.promo_top_banner .banner_wrapper{
  position: absolute;
  left: 18px;
  top: 0;
  bottom: 0;
  right: 10px;
}
.promo_top_banner .banner_wrapper .banner_inner{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.promo_top_banner .banner_wrapper .banner_inner>*{
  vertical-align: middle;
}
.promo_top_banner .promo_title{
  margin: 0;
}
/* @media (min-width: 414px) */
.promo_title, .promo_text{
  line-height: 1;
  font-weight: 600;
  color: #494949;
}
.promo_top_banner .promo_title_text{
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
  color: #2CA532;

}
span{
  margin: 0; padding: 0;
}
.promo_top_banner .banner_wrapper .banner_inner>*{
  vertical-align: middle;
}
.promo_top_banner .button_wrapper{
  white-space: nowrap;
  font-size: 0;
  padding-left: 12px;
}
.button_wrapper{
  margin: 0;
}
.promo_button.download_app{
  color: #fff;
  border: 1px solid #42bd56;
  background: #42bd56;
}
.promo_top_banner .promo_button{
  font-size: 13px;
  font-weight: bold;
  width: auto;
  padding: 0 14px;
  position: relative;
}
.promo_button{
  display: inline-block;
  border-radius: 3px;
  line-height: 2;
}
a{
  outline: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.promo_top_banner .promo_button.open_app{
  margin-right: 0;
  margin-left: 8px;
}
.promo_button.open_app{
  color: #42bd56;
  border: 1px solid #42bd56;
}
.promo_top_banner .promo_button{
  font-size: 13px;
  font-weight: bold;
  width: auto;
  padding: 0 14px;
  position: relative;
}
.promo_button{
  display: inline-block;
  border-radius: 3px;
  line-height: 2;
}
