<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <servlet>
        <servlet-name>xiaoxue</servlet-name>
        <servlet-class>myservlet.control.Example7_2_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>xiaoxue</servlet-name>
        <url-pattern>/xiaoxue</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mingguo</servlet-name>
        <servlet-class>myservlet.control.Mingguo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mingguo</servlet-name>
        <url-pattern>/mingguo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rumeng</servlet-name>
        <servlet-class>myservlet.control.Rumeng</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rumeng</servlet-name>
        <url-pattern>/rumeng</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>minglong</servlet-name>
        <servlet-class>myservlet.control.Minglong1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>minglong</servlet-name>
        <url-pattern>/minglong</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>guanxin</servlet-name>
        <servlet-class>myservlet.control.Guanxin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guanxin</servlet-name>
        <url-pattern>/guanxin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>minghui</servlet-name>
        <servlet-class>myservlet.control.Minghui</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>minghui</servlet-name>
        <url-pattern>/minghui</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ruru</servlet-name>
        <servlet-class>myservlet.control.Ruru1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ruru</servlet-name>
        <url-pattern>/ruru</url-pattern>
    </servlet-mapping>
</web-app>