<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
    <servlet>
        <servlet-name>computerSum</servlet-name>
        <servlet-class>myservlet.control.Example6_1_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>computerSum</servlet-name>
        <url-pattern>/computerSum</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>compute</servlet-name>
        <servlet-class>myservlet.control.Example6_2_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>compute</servlet-name>
        <url-pattern>/compute</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>handle</servlet-name>
        <servlet-class>myservlet.control.Example6_3_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>handle</servlet-name>
        <url-pattern>/handle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rumeng</servlet-name>
        <servlet-class>myservlet.control.Area</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>rumeng</servlet-name>
        <url-pattern>/rumeng</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dengcha</servlet-name>
        <servlet-class>myservlet.control.Dengcha1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dengcha</servlet-name>
        <url-pattern>/dengcha</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>dengbi</servlet-name>
        <servlet-class>myservlet.control.Dengbi1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dengbi</servlet-name>
        <url-pattern>/dengbi</url-pattern>
    </servlet-mapping>
</web-app>