*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html{
    height: 100%;
  }
  body{
    height: 100%;
    overflow: hidden;
    color: #fff;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    background-color: #444444;
    background-image: -webkit-linear-gradient(top, #444444, #999999);
  }
  .book{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -150px;
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
    -webkit-user-select: none;
    user-select: none;
  }
  .page{
    width: 300px;
    height: 300px;
    padding: 1em;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 2em;
    overflow: hidden;
  }
  .front{
    background-color: #d93e2b;
  }
  .back{
    background-color: #fff;
  }
  .front-cover{
    cursor: move;
    transform: rotateY(180deg);
    transform-origin: 0 50%;
  }
  .front-cover .back{
    background-image: url(https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2050318681,1081448419&fm=26&gp=0.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transform: translateZ(3px);
  }
  .book-cover .back{
    transform: translateZ(-3px);
  }
  .p3d{
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .flip{
    transform: rotateY(180deg)
  }
  .shadow,
  .dino{
    width: 196px;
    height: 132px;
    position: absolute;
    left: 60px;
    top: 60px;
    transform-origin: 0 100%;
  }
  .dino{
    background: url(https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3062649025,2826066354&fm=26&gp=0.jpg) no-repeat;
    background-size: cover;
  }
  .shadow{
    background-color: rgba(0,0,0,0.5);
  }












